* {
  box-sizing: border-box;
  text-decoration: none;
  color: #364052;
}

body {
  width: 375px;
  min-height: 100vh;
  color: #424242;
  font-family: "poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.logo-image {
  height: auto;
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  margin-right: 10%;
  margin-top: 5%;
}

.bar {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 25px;
  height: 5px;
  background-color: rgb(65, 57, 182);
  margin: 3px 0;
}

.container {
  font-family: 'poppins', 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  background-image: url(./public/headershapes-mobile.svg);
  background-position: right;
  background-size: contain;
  position: relative;
  align-items: center;
  width: 375px;
  left: 0%;
  top: 0%;
}

.im-qaisar {
  margin: 0;
}

.primary-text {
  position: relative;
  font-size: 2rem;
  text-justify: auto;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
  width: 20.44rem;
  height: 9.38rem;
  flex-shrink: 0;
}

.lets-connect,
.primary-text1 {
  position: relative;
  line-height: 1.5rem;
}

.primary-text1 {
  color: #364052;
  display: inline-block;
  width: 20.44rem;
  height: 9.13rem;
  flex-shrink: 0;
}

.lets-connect {
  font-weight: 500;
}

.social-media,
.supporting-text {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.social-media {
  flex-direction: column;
  align-items: flex-start;
  color: #7f8cff;
}

.headline {
  position: relative;
  top: 5.75rem;
  left: calc(50% - 187.5px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.13rem 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
  font-size: 1rem;
}

.social {
  display: flex;
  list-style: none;
  margin-left: -13%;
}

.social-icon-margin {
  margin: 2%;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: rgb(77, 76, 76);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible h2 {
  font-family: "poppins", sans-serif;
}

.active,
.collapsible:hover {
  background-color: #d2effa;
}

.content {
  padding: 10 18px;
  border-radius: 2%;
  display: none;
  overflow: hidden;
  background-color: #fff;
}

.image-div {
  background-color: rgb(250, 173, 85);
  border-radius: 3%;
  padding: 10% 5%;
}

.image-div-3 {
  background-color: rgb(252, 219, 238);
  border-radius: 3%;
  padding: 10% 5%;
}

.image-div-4 {
  background-color: rgb(214, 145, 42);
  border-radius: 3%;
  padding: 10% 5%;
}

.image-div-5 {
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  padding: 10% 5%;
}

.image {
  width: 100%;
  border-radius: 2%;
}

.main-text {
  font-size: 2rem;
  color: #353535;
}

.project-detail {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #353535;
}

.project-detail-sub {
  color: #9e9e9e;
  font-weight: 600;
}

.list-main {
  color: #fff;
}

.list {
  background-color: #e5e9ee;
  list-style: none;
  border: none;
  border-radius: 25%;
  color: rgb(116, 101, 179);
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.85rem;
  margin: 4px 6px;
  cursor: pointer;
}

.list:active {
  background-color: #2b82ec;
  color: rgb(252, 251, 253);
}

.button-2 {
  background-color: #fff;
  border: 1px solid rgb(24, 24, 122);
  border-radius: 10%;
  color: rgb(24, 24, 122);
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 20px 6px;
  cursor: pointer;
}

.project-para {
  color: #424242;
}

.second-page {
  margin-top: 10%;
}

.third-page {
  margin-top: 10%;
}

.fourth-page {
  margin-top: 10%;
}

.fifth-page {
  margin-top: 10%;
}

.sixth-page {
  margin-top: 30%;
}

.works-container {
  display: grid;
}

.lang {
  list-style: none;
  color: rgb(75, 74, 74);
}

.lang li {
  display: flex;
  align-items: center;
  background-color: #f0eded;
  margin-left: -10%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5%;
  font-weight: 600;
}

.lang li img {
  width: 15%;
  margin-right: 10%;
}

.works {
  margin-top: 15%;
}

.text-aboutmyself {
  color: #353535;
  margin-top: 25%;
  font-size: 2rem;
  text-shadow: 2px;
  width: 20px;
}

/* Contact Me starts here */
.contact-me-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6em 0 0 0;
  padding: 3em;
  border-radius: 5em 0 0 0;
  background-color: #7f8cff;
  background-image: url(./public/contact-form-shapesmobile.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 90% -20%;
}

.contact-me-form-heading {
  text-align: center;
  margin-top: 0.75em;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 52px;
}

.contact-me-form-paragraph {
  text-align: center;
  margin-top: 0.75em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #ebebff;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
}

.contact-me-form > input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #f7f7f9;
  box-shadow: 0 0 2px #f7f7f9;
}

.contact-me-form-text-input {
  margin-top: 0.75em;
  padding: 0.75em;
  width: 100%;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
}

.contact-me-form-button {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  background-color: #fff;
  color: #7f8cff;
  margin-top: 10%;
  align-self: center;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  border: none;
}

.contact-me-form-button:hover {
  color: #fff;
  background-color: #6070ff;
  border-radius: 16px;
  offset: 1px 8px rgba(64, 83, 252, 0.24);
}

.contact-me-form-button:active {
  color: #fff;
  background-color: #2230d2;
}

.contact-me-form-button:disabled {
  color: #5e6e84;
  background-color: #fff;
}

/* Contact me ends here */
