body {
  width: 375px;
  height: 718px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  z-index: +1;
}

.logo-image {
  height: auto;
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
}

.bar {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 3px 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-image: url(./public/headershapes-mobile.svg);
  position: absolute;
  align-items: center;
  width: 375px;
  height: 768px;
  left: 0%;
  top: 0%;
}

.mobile-icon {
  position: absolute;
  top: 6.5rem;
  left: 0;
  width: 28.88rem;
  height: 36.7rem;
}

.im-qaisar {
  margin: 0;
}

.primary-text {
  position: relative;
  font-size: 2.5rem;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
  width: 20.44rem;
  height: 9.38rem;
  flex-shrink: 0;
}

.lets-connect,
.primary-text1 {
  position: relative;
  line-height: 1.5rem;
}

.primary-text1 {
  color: #344563;
  display: inline-block;
  width: 20.44rem;
  height: 9.13rem;
  flex-shrink: 0;
}

.lets-connect {
  font-weight: 500;
}

.social-media,
.supporting-text {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.social-media {
  flex-direction: column;
  align-items: flex-start;
  color: #7f8cff;
}

.headline {
  position: absolute;
  top: 5.75rem;
  left: calc(50% - 187.5px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 7.13rem 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
  font-size: 1rem;
}

.social {
  list-style: none;
  display: flex;
  cursor: nwse-resize;
}
